```
print():
--------

==> It is a Python built-in function that takes the input and prints the output
```

In [1]:
print('Hello World')

Hello World

In [2]:
print("Hello World")

Hello World

In [4]:
print("Anantha Teja")

Anantha Teja

In [5]:
print(Anantha Teja)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3627749417.py, line 1)

```
Note:
-----

==> Words or Sentences should be inside single quotes or double quotes
```

In [6]:
print(9)

9

In [7]:
print(9.9)

9.9

In [8]:
print(True)

True

In [9]:
print("Hello", 1, 3, 5, 5.6, True)

Hello 1 3 5 5.6 True

```
Note:
-----

==> We can also print multiple values with the print statement and also we can see that values are seperated with the spaces
```

In [10]:
print("Hello", 1, 3, 5, 5.6, True, sep = " ")

Hello 1 3 5 5.6 True

In [11]:
print("Hello", 1, 3, 5, 5.6, True, sep = "-")

Hello-1-3-5-5.6-True

In [12]:
print("Hello", 1, 3, 5, 5.6, True, sep = ",")

Hello,1,3,5,5.6,True

In [13]:
print("Anantha")
print("Teja")

Anantha
Teja

```
Note:
----

==> If we observe here, second string is printed on next line. let's understand why it was happend
```

In [14]:
print("Anantha", end = "-")
print("Teja")

Anantha-Teja

In [15]:
print("Anantha", end = " ")
print("Teja")

Anantha Teja