# Loop Control Statements

- Break
- Continue
- Pass

In [2]:
# Using a for loop without a break statement

for i in range(1, 11):
    # if i == 5:
    #     break
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
# Using a for loop with a break statement

for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [3]:
names = ["Alex", "John", "Ananth", "Mr.X", "Mr.Y"]

for i in names:
    if i == "Ananth":
        print(i)
        break
    print(i)

Alex
John
Ananth

In [4]:
names = ["Alex", "John", "Ananth", "Mr.X", "Mr.Y"]

for i in names:
    if i == "Ananth":
        print(i)
        break
    # print(i)

Ananth

In [5]:
# Create a program to print all prime numbers within a specified range

lower = int(input("Enter the lower range : "))
upper = int(input("Enter the upper range : "))

for x in range(lower, upper+1):
    for y in range(2, x):
        if (x % y == 0):
            break
    else:
        print(x)

Enter the lower range :  10
Enter the upper range :  100

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [6]:
# Using a for loop without a continue statement

for i in range(1, 11):
    # if i == 5:
    #     continue
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
# Using a for loop with a continue statement

for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [8]:
# Using a for loop without a pass statement

for i in range(1, 11):
    # pass

SyntaxError: incomplete input (2016050033.py, line 4)

In [9]:
# Using a for loop with a pass statement

for i in range(1, 11):
    pass