In [1]:
L = [1, 2, 3]
L.upper()

AttributeError: 'list' object has no attribute 'upper'

In [2]:
S = "Happy"
S.append("F")

AttributeError: 'str' object has no attribute 'append'

In [3]:
a = 66
a[0] = 1

TypeError: 'int' object does not support item assignment

In [4]:
L = [1, 2, 3]
print(type(L))

<class 'list'>

In [5]:
S = "Happy"
print(type(S))

<class 'str'>

In [6]:
a = 66
print(type(a))

<class 'int'>

```
Note:
-----

(1) DataTypes are like classes

(2) Variables are like objects

(3) samsung = mobile()

(4) tesla = car()

(5) objectname = classname()
```

![](Images/Image01.png)
![](Images/Image02.png)
![](Images/Image03.png)