# Variable length non keyword arguments (*args)

In [1]:
def multiply(a,b):
    return a * b

In [3]:
multiply(2, 3)

6

In [4]:
def multiply(a, b, c):
    return a * b * c

In [5]:
multiply(2, 3, 4)

24

In [6]:
def multiply(*args):
    product = 1
    
    for i in args:
        product *= i
        
    return product

In [7]:
multiply(1, 2, 3)

6

In [8]:
multiply(1, 2, 3, 4)

24

In [9]:
multiply(1, 2, 3, 4, 5)

120

# Variable length keyword arguments (**kwargs)

In [10]:
def display(**kwargs):
    print(kwargs)

In [11]:
display(india= "New Delhi", Bangladesh = "Dhaka", Srilanka = "Colombo")

{'india': 'New Delhi', 'Bangladesh': 'Dhaka', 'Srilanka': 'Colombo'}

In [12]:
def display(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} = {value}")

In [13]:
display(india= "New Delhi", Bangladesh = "Dhaka", Srilanka = "Colombo")

india = New Delhi
Bangladesh = Dhaka
Srilanka = Colombo

In [14]:
def display(**anyname):
    for key, value in anyname.items():
        print(f"{key} = {value}")

In [15]:
display(india= "New Delhi", Bangladesh = "Dhaka", Srilanka = "Colombo")

india = New Delhi
Bangladesh = Dhaka
Srilanka = Colombo