# Higher Order Functions

- map
- reduce
- filter

# map

In [1]:
# square the items of a list
l = [1, 2, 3, 4, 5]
list(map(lambda x: x**2, l))

[1, 4, 9, 16, 25]

In [2]:
# odd/even labelling of list items

l = [1, 2, 3, 4, 5]
list(map(lambda x: "Even" if x % 2 == 0 else "Odd", l))

['Odd', 'Even', 'Odd', 'Even', 'Odd']

In [4]:
# fetch names from a list of dict

users = [
    {
        "name": "Alex",
        "age": 30,
        "gender": "male"
    }, 
    {
        "name": "Happy",
        "age": 23,
        "gender": "male"
    }, 
    {
        "name": "max",
        "age": 50,
        "gender": "female"
    }
]

list(map(lambda x: x["name"], users))

['Alex', 'Happy', 'max']

# filter

In [5]:
# numbers greater than 5

l = [1, 2, 3, 4, 5, 6, 7, 8]

list(filter(lambda num: num > 5, l))

[6, 7, 8]

In [6]:
# fetch fruits starting with 'a'

fruits = ['apple', 'guava', 'cherry']

list(filter(lambda fruit: fruit[0] == 'a', fruits))

['apple']

# reduce

In [7]:
# sum of all items

from functools import reduce

l = [1, 2, 3, 4, 5]
reduce(lambda x, y: x + y, l)

15

In [8]:
# find minimum value

l = [5, 4, 3, 2, 1]
reduce(lambda x, y: x if x < y else y, l)

1