```
Problem 01: Write a python function that takes a list and returns a new list with unique elements of the first list

Example:

Input : [1, 2, 3, 3, 3, 3, 4, 5]

output : [1, 2, 3, 4, 5]
```

In [1]:
def find_unique_item_list(old_list):
    new_list = []
    for item in old_list:
        if item not in new_list:
            new_list.append(item)
            
    return new_list

find_unique_item_list([1, 2, 3, 3, 3, 3, 4, 5])

[1, 2, 3, 4, 5]

```
Problem 02: Write a python function that accepts a hyphen-seperated sequence of words as parameter 
and returns the words in a hyphen-seperated sequence after sorting them alphabetically

Example:

Input: green-red-yellow-black-white

output: black-green-red-white-yellow
```

In [2]:
def find_sorted_word(sentence):
    words = sentence.split('-')
    sorted_sentence = "-".join(sorted(words))
    return sorted_sentence

In [3]:
find_sorted_word("green-red-yellow-black-white")

'black-green-red-white-yellow'

```
Problem 03: A dictionary contains following information about 5 employees

- first name
- last name
- age
- grade (Skilled, Semi-Skilled, Highly Skilled)

Write a program using map/ filter/ reduce to a list of employees(first name + last name) who are highly skilled

employees = [
    {
        "fname": "Happy",
        "lname": "Vance",
        "age": 33,
        "grade": "skilled"
    },
    {
        "fname": "Alex",
        "lname": "Musk",
        "age": 34,
        "grade": "semi-skilled"
    },
    {
        "fname": "Happy",
        "lname": "Stark",
        "age": 35,
        "grade": "highly-skilled"
    },
    {
        "fname": "Arjit",
        "lname": "Singh",
        "age": 30,
        "grade": "skilled"
    },
    {
        "fname": "Rakesh",
        "lname": "Sharma",
        "age": 37,
        "grade": "highly-skilled"
    }
]
```

In [6]:
employees = [
    {
        "fname": "Happy",
        "lname": "Vance",
        "age": 33,
        "grade": "skilled"
    },
    {
        "fname": "Alex",
        "lname": "Musk",
        "age": 34,
        "grade": "semi-skilled"
    },
    {
        "fname": "Happy",
        "lname": "Stark",
        "age": 35,
        "grade": "highly-skilled"
    },
    {
        "fname": "Arjit",
        "lname": "Singh",
        "age": 30,
        "grade": "skilled"
    },
    {
        "fname": "Rakesh",
        "lname": "Sharma",
        "age": 37,
        "grade": "highly-skilled"
    }
]

high_skilled = list(filter(lambda x:True if x['grade'] == "highly-skilled" else False, employees))
list(map(lambda x: x["fname"] +" " + x['lname'], high_skilled))

['Happy Stark', 'Rakesh Sharma']

In [ ]:
# Please visit HackerRank to practice Python questions.