## 01 Update no of items available

In [3]:
cars_name = ['Audi', 'BMW', 'TATA', 'Volvo']

no_of_cars = [10, 20, 30, 15]

list(zip(cars_name, no_of_cars))

[('Audi', 10), ('BMW', 20), ('TATA', 30), ('Volvo', 15)]

In [2]:
for i, j in zip(cars_name, no_of_cars):
    print(f"{i} = {j}")

Audi = 10
BMW = 20
TATA = 30
Volvo = 15

## 02 You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself

In [4]:
l = [2, 4, 6, 10, 1]
result = []
for i in l:
    total = 0
    for j in l:
        if (i <= j):
            total += j
    result.append(total)

print(result)

[22, 20, 16, 10, 23]

## 03 Find list of common unique items from two lists and show in increasing order

In [6]:
num1 = [23, 45, 67, 78, 89, 34, 67]
num2 = [34, 89, 55, 56, 39, 67, 67]

common_unique = []

for i in num1:
    for j in num2:
        if (i==j) and (i not in common_unique):
            common_unique.append(i)
            
common_unique.sort()
print(common_unique)

[34, 67, 89]