# Tuples

- A tuple in Python is similar to a list. The difference between them is that we cannot change the elements of a tuple once it is assigned, whereas we can change the elements of a list

- In short, a tuple is an immutable list. A tuple cannot be changed in any way once it is created

## Characteristics

- Ordered
- Unchangeable
- Allows duplicate


## Topics to be covered

- Creating a tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

# Creating Tuples

In [1]:
# empty tuple
t1 = ()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [2]:
# tuple with single item
t2 = ("Happy")
print(t2)
print(type(t2))

Happy
<class 'str'>

In [3]:
# tuple with single item
t2 = ("Happy", )
print(t2)
print(type(t2))

('Happy',)
<class 'tuple'>

In [4]:
# homogeneous tuple
t3 = (1, 2, 3, 4)
print(t3)

# heterogeneous tuple
t4 = (1, 2.5, True, [1,2,3])
print(t4)

# nested tuple
t5 = (1, 2, 3, (4, 5))
print(t5)

# using type conversion
t6 = tuple("hello")
print(t6)

(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

# Accessing items in tuple

- Indexing
- Slicing

In [6]:
t3 = (1, 2, 3, 4)
print(t3)

(1, 2, 3, 4)

In [7]:
t3[0]

1

In [8]:
t3[23]

IndexError: tuple index out of range

In [9]:
t3[-1]

4

In [10]:
t3[-2]

3

In [11]:
t3[0:3]

(1, 2, 3)

In [12]:
t3[::2]

(1, 3)

# Editing / deleting items

In [13]:
t3 = (1, 2, 3, 4)
print(t3)

(1, 2, 3, 4)

In [14]:
t3[0] = 100

TypeError: 'tuple' object does not support item assignment

In [15]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

In [16]:
# type casting to list and then list to tuple

t3 = 1, 2, 3, 4

temp = list(t3)

print(temp, type(temp))

[1, 2, 3, 4] <class 'list'>

In [17]:
temp.append(200)
temp

[1, 2, 3, 4, 200]

In [18]:
t3 = tuple(temp)
print(t3)

(1, 2, 3, 4, 200)