# Dictionary

- A dictionary in Python is a collection of keys and values, used to store data values like a map, which, unlike other data types which hold any single value as an element.
- In some languages, it is known as a map or assosiative arrays

- dict = {"name": "Happy", "age": 22, "gender": "male"}


## Characteristics

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

# Creating Dictionary

In [1]:
# empty dictionary

d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [2]:
# 1D dictionary

d1 = {"name": "Happy", "age": 22, "gender": "male"}
print(d1)

{'name': 'Happy', 'age': 22, 'gender': 'male'}

In [3]:
# with mixed keys

d2 = {(1, 2, 3): 33, "name": "Happy"}
print(d2)

{(1, 2, 3): 33, 'name': 'Happy'}

In [4]:
# 2D dictionary

d3 = {
    "name": "Happy",
    "college_name": "ABC",
    "semester": 5,
    "subjects": {
        "DSA": 80,
        "Math": 50,
        "English": 70
    }
}

print(d3)

{'name': 'Happy', 'college_name': 'ABC', 'semester': 5, 'subjects': {'DSA': 80, 'Math': 50, 'English': 70}}

In [5]:
# using sequence and dict function

d4 = dict([("name", "Happy"), ("age", 22)])
print(d4)

{'name': 'Happy', 'age': 22}

In [6]:
# ducplicate keys

d5 = {"name": "Happy", "age": 22, "gender": "male", "name": "Alex"}
print(d5)

{'name': 'Alex', 'age': 22, 'gender': 'male'}

In [7]:
# mutable items as keys

d6 = {(1, 2, 3): 33, "name": "Happy", [1, 2, 3]: 33}
print(d6)

TypeError: unhashable type: 'list'

# Accessing items of dictionary

In [8]:
d1 = {"name": "Happy", "age": 22, "gender": "male"}
print(d1)

{'name': 'Happy', 'age': 22, 'gender': 'male'}

In [9]:
d1[0]

KeyError: 0

In [10]:
d1["name"]

'Happy'

In [11]:
d1["age"]

22

In [12]:
d1["gender"]

'male'

In [13]:
d3 = {
    "name": "Happy",
    "college_name": "ABC",
    "semester": 5,
    "subjects": {
        "DSA": 80,
        "Math": 50,
        "English": 70
    }
}

print(d3)

{'name': 'Happy', 'college_name': 'ABC', 'semester': 5, 'subjects': {'DSA': 80, 'Math': 50, 'English': 70}}

In [14]:
d3["college_name"]

'ABC'

In [15]:
d3["subjects"]["DSA"]

80

In [16]:
d3["subjects"]["English"]

70

# Adding key, value pair

In [17]:
d1 = {"name": "Happy", "age": 22, "gender": "male"}
print(d1)

{'name': 'Happy', 'age': 22, 'gender': 'male'}

In [18]:
d1["weight"] = 70
print(d1)

{'name': 'Happy', 'age': 22, 'gender': 'male', 'weight': 70}

In [19]:
d3 = {
    "name": "Happy",
    "college_name": "ABC",
    "semester": 5,
    "subjects": {
        "DSA": 80,
        "Math": 50,
        "English": 70
    }
}

print(d3)

{'name': 'Happy', 'college_name': 'ABC', 'semester': 5, 'subjects': {'DSA': 80, 'Math': 50, 'English': 70}}

In [20]:
d3["subjects"]["Python"] = 80

In [21]:
print(d3)

{'name': 'Happy', 'college_name': 'ABC', 'semester': 5, 'subjects': {'DSA': 80, 'Math': 50, 'English': 70, 'Python': 80}}

# Editing key, value pair

In [22]:
d1 = {"name": "Happy", "age": 22, "gender": "male"}
print(d1)

{'name': 'Happy', 'age': 22, 'gender': 'male'}

In [23]:
d1["name"] = "Alex"
print(d1)

{'name': 'Alex', 'age': 22, 'gender': 'male'}

# Remove key, value pair

In [24]:
d1 = {"name": "Happy", "age": 22, "gender": "male"}
print(d1)

{'name': 'Happy', 'age': 22, 'gender': 'male'}

In [25]:
# pop

d1.pop("age")
print(d1)

{'name': 'Happy', 'gender': 'male'}

In [26]:
d1.pop(22)

KeyError: 22

In [27]:
# popitem

d1 = {"name": "Happy", "age": 22, "gender": "male"}
print(d1)

{'name': 'Happy', 'age': 22, 'gender': 'male'}

In [28]:
d1.popitem()

('gender', 'male')

In [29]:
d1

{'name': 'Happy', 'age': 22}

In [30]:
# del
d1 = {"name": "Happy", "age": 22, "gender": "male"}
print(d1)

{'name': 'Happy', 'age': 22, 'gender': 'male'}

In [31]:
del d1["name"]

print(d1)

{'age': 22, 'gender': 'male'}

In [32]:
# clear
d1 = {"name": "Happy", "age": 22, "gender": "male"}
print(d1)

d1.clear()
print(d1)

{'name': 'Happy', 'age': 22, 'gender': 'male'}
{}